<table class="table table-bordered">
  <thead>
    <tr>
      <th>今日の投稿数</th>
      <th>前日の投稿数</th>
      <th>前日比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= today.count %></td>
      <td><%= yesterday.count %></td>
      <% if yesterday.count == 0 %>
        <td>前日の投稿なし</td>
      <% else %>
        <td><% the_day_before = today.count / yesterday.count.to_f %>
          <%= ( the_day_before * 100 ).round %>%</td>
      <% end %>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>今週の投稿数</th>
      <th>前週の投稿数</th>
      <th>前週比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= this_week.count %></td>
      <td><%= last_week.count %></td>
      <td>
        <% if last_week.count == 0 %>
          前週の投稿なし
        <% else %>
          the_week_before = this_week.count / last_week.count
          <%= (the_week_before * 100 ).round %>%
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>6日前</th>
      <th>5日前</th>
      <th>4日前</th>
      <th>3日前</th>
      <th>2日前</th>
      <th>1日前</th>
      <th>今日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @books.created_6days.count %></td>
      <td><%= @books.created_5days.count %></td>
      <td><%= @books.created_4days.count %></td>
      <td><%= @books.created_3days.count %></td>
      <td><%= @books.created_2days.count %></td>
      <td><%= yesterday.count %></td>
      <td><%= today.count %></td>
    </tr>
  </tbody>
</table>