<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to user_followings_path(user.id) do %>
    <%= user.followings.count %>
    <% end %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user_followers_path(user.id) do %>
    <%= user.followers.count %>
    <% end %></th>
  </tr>
</table>

<% if user.name != "guestuser" %>
<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>
<% end %>
<br>

<div class = 'follow'>
 <% if user == current_user then %>
  <% elsif current_user.following?(user) then %>
   <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class: "btn btn-primary btn-sm" %>
  <% else %>
   <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-success btn-sm" %>
 <% end %>
</div>
<br>
<div class = 'chat'>
  <% if user.id == current_user.id %>
  <% else %>
    <% unless current_user.following?(user) && user.following?(current_user) %>
      <%= form_for room do |f| %>
        <%= fields_for entry do |e| %>
          <%= e.hidden_field :user_id, value: user.id %>
        <% end %>
        <%= f.submit "チャットを始める", class:"btn btn-primary btn-sm user-show-chat" %>
      <% end %>
    <% else %>
      <% if isRoom == true %>
        <%= link_to "チャットへ", room_path(roomId), class:'btn btn-primary btn-sm' %>
        <!--<p class="user-show-room"><a href="/rooms/<!%= roomId %>" class="btn btn-primary btn-lg">チャットへ</a></p>-->
      <% end %>
    <% end %>
  <% end %>
</div>